* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}




/*******************************************
Classi
********************************************/
.header {
    min-height: 50vh;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.container-center {
    width: 80%;
    margin: 0 auto;
}
.navbar {
    padding: 20px;
}

.navbar__logo img {
    display: inline-block;
    min-width: 40%;
    max-width: 100%;
}
.navbar__link {
    text-align: center;
}

.navbar__link-list {
    list-style: none;
}

.navbar__link-list li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
}

.navbar__link-list li a {
    display: inline-block;
    color: white;
    padding: 0 20px;
}












/*******************************************
Classi utili
********************************************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1_6 {
    width: calc(100% / 6);
}

.col-2_6 {
    width: calc(100% / 6 * 2);
}

.col-3_6 {
    width: calc(100% / 6 * 3);
}

.col-4_6 {
    width: calc(100% / 6 * 4);
}

.col-5_6 {
    width: calc(100% / 6 *5);
}