* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

nav ul {
    list-style: none;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    text-decoration: none;
    padding: 20px;
    color: white;
}






/*******************************************
Classi
********************************************/

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-link-app a {
    text-decoration: none;
    color: white;
}

















/*******************************************
Classi utili
********************************************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1_6 {
    width: calc(100% / 6);
}

.col-2_6 {
    width: calc(100% / 6 * 2);
}

.col-3_6 {
    width: calc(100% / 6 * 3);
}

.col-4_6 {
    width: calc(100% / 6 * 4);
}

.col-5_6 {
    width: calc(100% / 6 *5);
}