* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}




/*******************************************
Classi
********************************************/
.header {
    min-height: 70vh;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px
}

.container-center {
    width: 80%;
    margin: 0 auto;
}
.navbar {
    padding: 20px;
}

.navbar__logo img {
    display: inline-block;
    min-width: 40%;
    max-width: 100%;
    transform: translateY(-2px);
}

.navbar__link {
    text-align: center;
}

.navbar__link-list {
    list-style: none;
}

.navbar__link-list li {
    display: inline-block;
}

.navbar a,
.hero__button a {
    text-decoration: none;
}

.navbar__button {
    text-align: right;
}

.navbar__link-list li a {
    display: inline-block;
    color: white;
    padding: 0 20px;
}

.header__hero-text,
.header__hero-container-button {
    text-align: center;
    margin: 0 calc(100% / 6);
    padding: 20px;
    color: white;
}

.header__hero-text h1 {
    padding: 20px;
    font-size: 35px;
}

.hero__button {
    display: inline-block;
    padding: 15px;
}

.main__section__container {
    margin-top: 40px;
}

.main__section__img {
    padding: 20px;
}

.main__section__img img {
    max-width: 100%;
}

.main__section__text {
    padding: 20px;
}

.main__section__text h2 {
    padding-bottom: 20px;
}

.row:nth-child(even) {
    background-color: #F6F6F6;
}


/*******************************************
Classi utili
********************************************/

.bt {
    padding: 10px 20px;
    border-radius: 25px;
}

.bt-white {
    background-color: white;
    color: black;
}

.bt-black {
    background-color: #23272A;
    color: white;
}




.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1_6 {
    width: calc(100% / 6);
}

.col-2_6 {
    width: calc(100% / 6 * 2);
}

.col-3_6 {
    width: calc(100% / 6 * 3);
}

.col-4_6 {
    width: calc(100% / 6 * 4);
}

.col-5_6 {
    width: calc(100% / 6 *5);
}

.col-6_6 {
    width: 100%;
}


